@charset 'utf-8';
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
ul, li {
    list-style: none;
}
h2, a, p {
    margin-bottom: 5px;
    text-decoration: none;
    color: #00021a;
    font-family: 'PFStardust'
}
img {
    vertical-align: top;
}